@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&family=Poppins:wght@200;400;500&display=swap');


*, 
*::before, 
*::after  {
    box-sizing: border-box; /* does not affect the width when setting padding or margin */
}

:root{ /* default scope */
    --main-color:#1C2431;
    --secondary-color: #3857BA;
    --secondary-darker-color: #181f2a;
    --details-color: #CBAB60;
    --gray-color: #b9b9b9;
    --text-color: #fff;
}

html {
    font-size: 62.5%; /* easy to calculate em (10px instead of 16px) */
}

body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    overflow-x: hidden; /* no scrollbars */
    background-color: var(--main-color);
    color:var(--text-color);
    font-size: 1.6em;
}

::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    background: none;
    border: 0;
}
button:focus {
    outline: none;
}

h1,h2,h3 {
    font-family: 'Quantico', sans-serif;
}

h1 {
    display: inline-block;
    font-size: 2.3em;
    font-weight: 400;
}

h2 {
    font-weight: 700;
    font-size: 2em;
}

h3 {
    font-weight: 700;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10rem;
}

p{
    font-weight: 200;
}

.container {
    margin: 1rem 3rem;
    max-width: 1100px;
}

section {
    padding: 6rem 0;
}


/* header */
header{
    height: 100vh;
    text-align: center;
    position: relative;
    background-image: url("assets/bg-intro-mobile.svg");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav button i {
    font-size: 2.5em;
    color: var(--text-color);
}


/* intro */
.intro {
    display: grid;
    justify-content: space-evenly;
    place-items: center;
    gap: 2.5em;
}

.intro_image {
    width: 100vw; /* take full width on mobile */
}

.intro p {
    color: var(--gray-color);
    font-weight: 500;
}

#scroll-down-btn {
    cursor: pointer;
    width: 280px;
    height: auto;
    position: absolute;
    top:75vh;
    left: 50%;
    transform: translateX(-50%);
}
#scroll-down-btn:after {
    content:'';
    clear: both;
}


#scroll-down-btn #led-color,
#scroll-down-btn:visited #led-color {
    fill: #959595;
    transition: fill 0.3s ease-in-out;
}
#scroll-down-btn:hover #led-color,
#scroll-down-btn:active #led-color {
    fill: #50AB66;
}


/* features */
section.features{
    background: var(--secondary-darker-color);
    /* background: linear-gradient(0deg, rgba(28,36,49,1)  0%, rgba(24,31,42,1) 100%); */
    padding: 10rem 0;
}

section.features article {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.features_circleimg{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.features-1 {
    background-image: url('assets/schematics.png');
}

.features-2 {
    background-image: url('assets/route_pcb.jpg');
}

.features-3 {
    background-image: url('assets/fab_pcb.jpg');
}

.features_body {
    text-align: center;
}

ul.tags{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

ul.tags li{
    padding: 2px 10px;
    background-color: #3857BA;
    border-radius: 5px;
    font-size: 1.4rem;
}


/* technologies */
.technologies-cards {
    display: grid;
    justify-items: center;
    row-gap: 10rem;
    position: relative;
}
.technologies-cards::after { /* line behind */
    content: '';
    position: absolute;
    width: 1rem;
    height: 90%;
    top:20px;
    z-index: 0;
    background-color: var(--details-color);
}

.technologies-card{
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    max-width: 35rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

.technologies-card_icon{
    width: 8rem;
    height: 8rem;
    position: absolute;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
}

.technologies-card_icon svg {
    width: 4rem;
    height: 4rem;
    fill: var(--main-color);
}

.technologies-card_inside {
    width: 100%;
    padding: 4rem 3rem;
    text-align: center;
}


/* footer */
footer {
    background-color: var(--secondary-color);
}




@media (min-width: 576px) {
    .intro_image {
        max-width: 550px;
    }
}

@media(min-width: 768px) {
    .container {
        margin: 3rem 6rem;
    }

    header {
        background-image: url("assets/bg-intro-desktop.svg");
    }

    .intro {
        grid-auto-flow: column;
        align-items: center;
        justify-content:space-around;
        text-align: left;
        margin-top: 15rem;
    }

    .intro_image {
        max-width: 100%;
        order:1;
    }

}

@media(min-width: 992px) {


}

@media(min-width: 1200px) {

    .container {
        margin: 3rem auto;
    }
}