@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&family=Poppins:wght@200;400;500&display=swap');


*, 
*::before, 
*::after  {
    box-sizing: border-box; /* does not affect the width when setting padding or margin */
}

:root{ /* default scope */
    --main-color:#1C2431;
    --secondary-color: #3857BA;
    --secondary-darker-color: #181f2a;
    --details-color: #CBAB60;
    --gray-color: #b9b9b9;
    --text-color: #fff;
}

html {
    font-size: 62.5%; /* easy to calculate em (10px instead of 16px) */
}

body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    overflow-x: hidden; /* no scrollbars */
    background-color: var(--main-color);
    color:var(--text-color);
    font-size: 1.6em;
}

::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    background: none;
    border: 0;
}
button:focus {
    outline: none;
}

h1,h2,h3,h4 {
    font-family: 'Quantico', sans-serif;
}

h1 {
    display: inline-block;
    font-size: 2.3em;
    font-weight: 400;
}

h2 {
    font-weight: 700;
    font-size: 2.2em;
}

h3 {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-bottom: 4rem;
}

h4 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 3rem;
}

p{
    font-weight: 200;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    background: none;
    outline: none;
}


.subtitle {
    color: var(--gray-color);
    font-weight: 500;
    margin-bottom: 10rem;
    text-align: center;
    font-size: 1.6rem;
}

.container {
    margin: 1rem 3rem;
    max-width: 1100px;
}

section {
    padding: 6rem 0;
}

.btn_info {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
    line-height: 2.8rem;
    padding: .8rem 2rem;
    font-size: 1.4rem;
    color: var(--text-color);
    box-shadow: 0 0.8rem 0.8rem -0.5rem rgb(73, 93, 207 , 0.2);
    transition: background-color 0.3s ease-in-out;
}

.btn_info:hover {
    background-color: transparent;
}

/* header */
header{
    height: 100vh;
    text-align: center;
    position: relative;
    background-image: url("assets/bg-intro-mobile.svg");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav button i {
    font-size: 2.5em;
    color: var(--text-color);
}


/* intro */
.intro {
    display: grid;
    justify-content: space-evenly;
    place-items: center;
    gap: 2.5em;
}

.intro_image {
    width: 100vw; /* take full width on mobile */
}

.intro_text {
    margin: 0 3rem;
}


#scroll-down-btn {
    cursor: pointer;
    width: 280px;
    height: auto;
    position: absolute;
    top:80vh;
    left: 50%;
    transform: translateX(-50%);
}
#scroll-down-btn:after {
    content:'';
    clear: both;
}


#scroll-down-btn #led-color,
#scroll-down-btn:visited #led-color {
    fill: #959595;
    transition: fill 0.3s ease-in-out;
}
#scroll-down-btn:hover #led-color,
#scroll-down-btn:active #led-color {
    fill: #50AB66;
}


/* features */
section.features{
    background: var(--secondary-darker-color);
    /* background: linear-gradient(0deg, rgba(28,36,49,1)  0%, rgba(24,31,42,1) 100%); */
    padding: 10rem 0;
}

section.features article {
    margin: 5rem 0;
    padding: 5rem;
    display: grid;
    
    place-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.features_circleimg{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.features-1 {
    background-image: url('assets/tech_pcb.jpg');
}

.features-2 {
    background-image: url('assets/route_pcb.jpg');
}

.features-3 {
    background-image: url('assets/fab_pcb.jpg');
}

.features-4 {
    background-image: url('assets/Capture.PNG');
    background-position: left;
}

.features_body {
    text-align: center;
}

ul.tags{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

ul.tags li{
    padding: 2px 10px;
    background-color: #3857BA;
    border-radius: 0.5rem;
    font-size: 1.4rem;
}


/* technologies */
.technologies-cards {
    display: grid;
    justify-items: center;
    row-gap: 10rem;
    position: relative;
}
.technologies-cards::after { /* line behind */
    content: '';
    position: absolute;
    width: 1rem;
    height: 90%;
    top:1rem;
    z-index: 0;
    background-color: var(--details-color);
}

.technologies-card{
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    max-width: 35rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

.technologies-card_icon{
    width: 8rem;
    height: 8rem;
    position: absolute;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
}

.technologies-card_icon svg {
    width: 4rem;
    height: 4rem;
    fill: var(--main-color);
}

.technologies-card_inside {
    width: 100%;
    padding: 4rem 2rem;
    text-align: center;
}

.technologies-card_inside ul {
    height: 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    row-gap: 1em;
}


/* More services */
.more {
    position: relative;
}
.more::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 15rem;
    left: 0;
    top:60rem;
    z-index:-2;
    background-color: var(--details-color);
    opacity: 0.9;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
}

.more-services__selectors {
    margin: 4rem auto 7rem;
    text-align: center;
}

.more-services__selectors li {
    color: var(--gray-color);
    line-height: 1.7rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 2rem 0;
    border-top: 1px solid rgba(136, 136, 136, 0.69);
    transition: color 0.3s ease-in-out;
}
.more-services__selectors li:last-of-type {
    border-bottom: 1px solid rgba(136, 136, 136, 0.69);
}

.more-services__selectors li:hover {
    color: var(--secondary-color);
}

.more-services__selectors li.active-service {
    color:var(--text-color);
    position: relative;
}
.more-services__selectors li.active-service::after {
    content: '';
    position: absolute;
    height: 0.4rem;
    width: 14rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-color);
    animation: increaseLine 0.3s;
}


.more-services__content {
    text-align: center;
    animation: fadeIn 0.5s;
}

.more-services__image {
    max-width: 55rem;
    margin: 0 auto 3rem;
}
.more-services__image img {
    width: 100%;
}

.more-services__content.fadeout {
    animation: fadeOut .5s;
}

.more-services__details {
    margin-bottom: 5rem;
}


/* footer */
footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.copyright {
    font-size: 1.3rem;
    text-align: center;
}



@keyframes increaseLine {
    0%{
        opacity:0;
        width:0
    }
    100%{
        opacity:1;
        width:14.3rem
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
        transform:translateX(-10rem)
    }
    100% {
        opacity:1;
        transform:translateX(0)
    }
}

@keyframes fadeOut {
    0% { 
        opacity: 1; 
        transform: translateX(0); 
    }
    100% { 
        opacity: 0; 
        transform: translateX(-10rem); 
    }
}


@media (min-width: 576px) {
    .intro_image {
        max-width: 550px;
    }
}

@media(min-width: 768px) {
    .container {
        margin: 3rem 6rem;
    }

    header {
        background-image: url("assets/bg-intro-desktop.svg");
    }

    .intro {
        grid-auto-flow: column;
        align-items: center;
        justify-content:space-around;
        text-align: left;
        margin-top: 8rem;
    }

    .intro_image {
        max-width: 100%;
        order:1;
    }
    .intro_text .subtitle{
        text-align:left;
    }

    /* Expertise */
    section.features article {
        grid-template-columns: 1fr 2fr; 
        justify-items: start;
        column-gap: 2em;
    }
    section.features article:nth-of-type(even) {
        grid-template-columns: 2fr 1fr; 
        justify-items: end;
    }

    article .features_circleimg {
        grid-row: 1 / 3;
    }
    article:nth-of-type(even) .features_circleimg {
        grid-column: 2;
    }
    article:nth-of-type(odd) .tags {
        grid-column: 2;
    }
    .features_body {
        text-align: left;
    }

    /* Technologies */
    .technologies-cards {
        justify-items: normal;
        row-gap: 4rem;
        margin: 0 auto;
        max-width: 70rem;
    }

    .technologies-cards::after {
        content:none;
    }

    .technologies-card:nth-of-type(odd){
        justify-self: start;
    }

    .technologies-card:nth-of-type(even) {
        justify-self: end;
    }
}

@media(min-width: 992px) {

    .more-services li.active-service::after {
        width: 24rem;
    }

    @keyframes increaseLine {
        0%{
            opacity:0;
            width:0
        }
        100%{
            opacity:1;
            width:24rem
        }
    }
}

@media(min-width: 1200px) {

    .container {
        margin: 3rem auto;
    }


    /* Technologies */
    .technologies-cards {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
        max-width: 110rem;
    }
    .technologies-cards::after {
        content:'';
        width: 90%;
        height: 1rem;
        top:14rem;
        left: 1rem;
    }

    .technologies-card:first-of-type{
        justify-self:unset;
        align-self: start;
    }

    .technologies-card:nth-of-type(2){
        margin-top: 4rem;
        justify-self:unset;
        align-self: start;
    }
    .technologies-card:nth-of-type(3){
        margin-top: 8rem;
    }
    
}